<div *ngIf="modalVerification" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <img
        src="../../../assets/icons/foguete.png"
        alt="Logo"
        class="modal-logo"
      />
      <h3 class="modal-title">Redefinir Senha</h3>
    </div>
    <div class="modal-text">
      Verifique o seu e-mail para redefinir a sua senha.
    </div>
    <div class="modal-buttons">
      <button class="modal-action-button" (click)="closeModal()">Fechar</button>
    </div>
  </div>
</div>

<div class="page-container">
  <div class="body-wrapper">
    <div class="form-card-wrapper">
      <div class="form-card-body">
        <div class="icon-section">
          <img
            src="../../../assets/icons/cadeado.png"
            alt="Ícone de Recuperação"
            class="recovery-icon"
          />
        </div>
        <div class="message-section">
          <h2 class="message-title">Problemas para entrar?</h2>
          <p class="message-text">
            Entre com o seu e-mail e nós enviaremos um link para você voltar à
            sua conta.
          </p>
        </div>
        <form>
          <div class="form-group">
            <input
              type="email"
              class="form-input"
              id="email"
              [(ngModel)]="email"
              name="email"
              placeholder="E-mail"
            />
          </div>
          <div class="button-section">
            <button type="button" class="submit-button" (click)="openModal()">
              Enviar link
            </button>
          </div>
        </form>
        <div class="separator-or-section">
          <div class="separator-line"></div>
          <span class="separator-text">Ou</span>
          <div class="separator-line"></div>
        </div>
        <div class="create-account-section">
          <a href="../cadastro" class="create-account-link"
            >Crie uma nova conta</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
