<div class="page-container">
  <div class="body-wrapper">
    <div class="form-card-wrapper">
      <div class="form-card-body">
        <div class="logo-section">
          <img
            src="../../../assets/icons/foguete2.png"
            alt="Logo"
            class="app-logo"
          />
        </div>
        <form (ngSubmit)="login()">
          <h2 class="form-title">Entrar</h2>
          <div class="form-group">
            <label for="email" class="form-label">E-mail</label>
            <input
              type="email"
              class="form-input"
              id="email"
              [(ngModel)]="email"
              name="email"
              placeholder="E-mail"
              required
            />
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Senha</label>
            <input
              type="password"
              class="form-input"
              id="password"
              [(ngModel)]="password"
              name="password"
              placeholder="Senha"
              required
            />
          </div>
          <div class="login-options-section">
            <div class="remember-me-group">
              <input
                type="checkbox"
                id="rememberMe"
                [(ngModel)]="rememberMe"
                name="rememberMe"
                class="remember-me-checkbox"
              />
              <label for="rememberMe" class="remember-me-label"
                >Lembrar-me</label
              >
            </div>
            <a href="../recuperar-senha" class="forgot-password-link"
              >Esqueceu sua senha?</a
            >
          </div>
          <div class="button-section">
            <button type="submit" class="submit-button">Entrar</button>
          </div>
        </form>
        <div class="separator-or-section">
          <div class="separator-line"></div>
          <span class="separator-text">Ou</span>
          <div class="separator-line"></div>
        </div>
        <div class="button-section">
          <button (click)="cadastrar()" type="button" class="secondary-button">
            Cadastre-se
          </button>
        </div>
        <div class="button-section">
          <button
            type="button"
            class="google-login-button"
            (click)="loginWithGoogle()"
          >
            <img
              src="../../../assets/icons/icons8-google-48.png"
              alt="Google Logo"
              class="google-icon"
            />
            Entre com Google
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
