<div class="page-container">
  <div class="body-wrapper">
    <div class="form-card-wrapper">
      <div class="form-card-body">
        <div class="logo-section">
          <img
            src="../../../assets/icons/foguete.png"
            alt="Logo"
            class="app-logo"
          />
        </div>
        <form (ngSubmit)="cadastrar()">
          <h2 class="form-title">Cadastre-se</h2>

          <div class="form-group">
            <label for="name" class="form-label">Nome Completo</label>
            <input
              type="text"
              class="form-input"
              id="name"
              [(ngModel)]="name"
              name="name"
              placeholder="Nome"
            />
          </div>
          <div class="form-group">
            <label for="email" class="form-label">E-mail</label>
            <input
              type="email"
              class="form-input"
              id="email"
              [(ngModel)]="email"
              name="email"
              placeholder="E-mail"
            />
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Senha</label>
            <input
              type="password"
              class="form-input"
              id="password"
              [(ngModel)]="password"
              name="password"
              placeholder="Senha"
            />
          </div>
          <div class="form-group">
            <label for="confirmPassword" class="form-label"
              >Confirme a senha</label
            >
            <input
              type="password"
              class="form-input"
              id="confirmPassword"
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              placeholder="Confirmar Senha"
            />
          </div>
          <div class="button-section">
            <button type="submit" class="submit-button">Cadastre-se</button>
          </div>
          <div class="login-redirect-section">
            <span class="login-text">Já possui uma conta?</span>
            <a href="../" class="login-link">Entrar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
